{% extends "base.html" %}
{% load mathfilters %}
{% load i18n %}
{% load static %}

{% block extra_css %}
    <style xmlns="http://www.w3.org/1999/html">
    </style>
{% endblock %}
{% block page_title %}
 Servicing Info
{% endblock %}

{% block content %}

<div class="page-breadcrumb pb-4">
    <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
            <h5 class="page-title text-success" style="font-size: xx-large;">Completed Servicing Info</h5>
            <div class="ml-auto text-right">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a class="btn btn-success" href="{% url 'dashboard:dashboard' %}">Home</a></li>
                        <li class="breadcrumb-item"><a class="btn btn-success" href="{% url 'add-service' %}">Add Servicing</a></li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function() {
    $('.status-button').click(function() {
      var taskId = $(this).data('task-id');
      var newStatus = $(this).data('status');
      
      $.ajax({
        type: "POST",
        url: "{% url 'update-status' 0 %}".replace('0', taskId),
        data: { 'status': newStatus, 'csrfmiddlewaretoken': '{{ csrf_token }}' },
        success: function() {
          location.reload();  // Refresh the page after the status update
        },
        error: function(xhr, textStatus, errorThrown) {
          console.log('Status update failed:', errorThrown);
        }
      });
    });
  });
</script>
{% endblock %}

