{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block extra_css %}
    <style xmlns="http://www.w3.org/1999/html">
    </style>
{% endblock %}
{% block page_title %}
 Form
{% endblock %}
{% block content %}
<div class="page-breadcrumb">
    <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
            <!-- <h4 class="page-title text-success" style="font-size: xx-large;">Servicing Info.</h4> -->
            <div class="ml-auto text-right">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a class="btn btn-success" href="{% url 'service-info' %}">Back To Service</a></li>
                        
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 mx-auto shadow-sm">
            <div class="card shadow-lg">
                <h4 class="card-title m-t-10 m-l-20">Add New Service</h4 >
                <form class="form-horizontal" method="post">
                    {% csrf_token %} 
                    <div class="card-body">
                        <h4 class="card-title"></h4>
                        <div class="form-group row">
                            <label for="fname" class="col-sm-3 text-right control-label col-form-label">Servicer Name
                            </label>
                            <div class="col-sm-9">
                                <input type="text" name="servicer_name" class="form-control" id="fname" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="lname" class="col-sm-3 text-right control-label col-form-label">Servicing
                                Name</label>
                            <div class="col-sm-9">
                                <input type="text" name="servicing_name" class="form-control" id="lname" placeholder="">
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <label for="lname"
                                    class="col-sm-3 text-right control-label col-form-label">Servicing Cost</label>
                            <div class="col-sm-9">
                                <input type="number" name="sevicing_cost" class="form-control" id="lname" placeholder="">
                            </div>
                        </div> 
                    </div>
                    <div class="border-top ">
                        <div class="card-body mx-auto">
                            <button type="submit" class="mx-auto btn btn-success btn-block">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
               
{% endblock %}

{% block extra_js %}
<script>
    $(".select2").select2();
    $('.demo').each(function () {
        
        $(this).minicolors({
            control: $(this).attr('data-control') || 'hue',
            position: $(this).attr('data-position') || 'bottom left',

            change: function (value, opacity) {
                if (!value) return;
                if (opacity) value += ', ' + opacity;
                if (typeof console === 'object') {
                    console.log(value);
                }
            },
            theme: 'bootstrap'
        });

    });
    /*datwpicker*/
    jQuery('.mydatepicker').datepicker();
    jQuery('#datepicker-autoclose').datepicker({
        autoclose: true,
        todayHighlight: true
    });

    var quill = new Quill('#editor', {
        theme: 'snow'
    });
</script>
        
{% endblock %}