{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="page-breadcrumb">
  <div class="row">
      <div class="col-12 d-flex no-block align-items-center">
          <h4 class="page-title">
              {% for message in messages %}
              <div class="container-fluid p-0">
              <div class="alert {{ message.tags }} alert-success" role="alert" >
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="True">&times;</span>
              </button>
              {{ message }}
              </div>
              </div>
              {% endfor %}
          </h4>
          <div class="ml-auto text-right">
              <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a class="btn btn-success" href="{% url 'service-info' %}">Back To Services</a></li>
                  </ol>
              </nav>
          </div>
      </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 mx-auto shadow-sm">
        <div class="card shadow-lg">
            <div class="card-body wizard-content">
              <h2 align="center"><i class="mdi mdi-update"></i> Update Serving Info.</h2>
              <form method="POST" novalidate style="margin-top: 50px" enctype="multipart/form-data" >
                  {% csrf_token %}
                  <!-- {{ form | crispy }} -->
                    <!-- <br><br> -->
                    <div class="form__linput">
                      <label
                        class="form__label"
                        style="background-color: white"
                        for="lname"
                        >Servicer Name<span class="text-danger">*</span></label
                      >
                    </div>
                    <div class="form__input">{{ form.servicer_name }}</div>
                    <br />
                    <div class="form__linput">
                      <label
                        class="form__label"
                        style="background-color: white"
                        for="lname"
                        >Servicing Name<span class="text-danger">*</span></label
                      >
                    </div>
                    <div class="form__input">{{form.servicing_name}}</div>
                    <br />
                    <div class="form__linput">
                      <label
                        class="form__label"
                        style="background-color: white"
                        for="lname"
                        >Servicing Cost<span class="text-danger">*</span></label
                      >
                    </div>
                    <div class="form__input">{{form.sevicing_cost}}</div>
                    <br />
                    <div class="form__linput">
                      <label
                        class="form__label"
                        style="background-color: white"
                        for="lname"
                        >Status<span class="text-danger">*</span></label
                      >
                    </div>
                    <div class="form__input">{{form.status}}</div>
                    <br>
                  <input class="btn btn-success btn-block" type="submit" value="Update">
              </form>
            </div>
        </div>
    </div>
  </div>  
</div>    
{% endblock %}
