{% extends 'base.html' %}
{% block content %}


<div class="page-breadcrumb">
  <div class="row">
    <div class="col-12 d-flex no-block align-items-center">
      <h4 class="page-title">
        {% for message in messages %}
        <div class="container-fluid p-0">
          <div class="alert {{ message.tags }} alert-success" role="alert">
            <button
              type="button"
              class="close"
              data-dismiss="alert"
              aria-label="Close"
            >
              <span aria-hidden="True">&times;</span>
            </button>
            {{ message }}
          </div>
        </div>
        {% endfor %}
      </h4>
      <div class="ml-auto text-right">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <!-- <li class="breadcrumb-item"><a class="btn btn-success" href="{% url 'dashboard:add-brand' %}">Add Brand</a></li> -->
            <li class="breadcrumb-item">
              <a class="btn btn-success dG" href="{% url 'dashboard:tables' %}"
                >Back To Products</a
              >
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 mx-auto shadow-sm">
      <div class="card shadow-lg dG">
        <div class="card-body wizard-content">
          <h2 align="center">Product Saleing Info.</h2>
          <form action="{% url 'dashboard:confirm-Sale' product_id %}" method="POST" novalidate style="margin-top: 20px;" enctype="multipart/form-data" >
            <table id="zero-config" class="table table-striped table-hover table-sm">
              <thead class="text-center" style="font-size: medium; background-color: #1f2b3d;">
                <tr class="font-bold text-white">
                  <th>Product</th>
                  <th>Total Qunatity</th>
                  <th>Exepted Saleing Price</th>
                </tr>
              </thead>
              <tbody class="text-center font-bold">
                <tr>
                  <td>{{ product.product_name }}</td>
                  <td>{{ product.product_quantity}}</td>
                  <td>{{ product.expecting_Saleing_price}}</td>
                </tr>
              </tbody>
            </table>
            <br>
              {% csrf_token %}

              <div class="form__linput">
                <input class="form__input" type="number" name="quantity" id="input1" pattern="\w{1,}" required onkeyup="mul()" />
                <label class="form__label" style="background-color: white;" for="fname">Quantity</label>
              </div>
              <br>
              <div class="form__linput">
                <input class="form__input" type="number" name="price" id="input2" pattern="\w{1,}" required  onkeyup="mul()"/>
                <label class="form__label"  style="background-color: white;" for="lname">Sale Price</label>
              </div>
              <br>
              <span id="total"  style="font-size: 20px; font-weight: bold; text-align: center;"></span>
                <br><br>
              
              <input class="btn btn-success btn-block dG" type="submit" value="Sale" id="submitBtn" disabled>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>




<script>
  function mul(){
    var input1 = document.getElementById('input1').value;
    var input2 = document.getElementById('input2').value;
    var total = input1 * input2;
    document.getElementById('total').innerHTML = "Total : " + total;
  }

  function enableSubmitButton() {
    var quantityValue = document.getElementById('input1').value;
    var priceValue = document.getElementById('input2').value;
    var submitButton = document.getElementById('submitBtn');

    if (quantityValue !== '' && priceValue !== '') {
      submitButton.disabled = false;
    } else {
      submitButton.disabled = true;
    }
  }

  // Call the enableSubmitButton function whenever the user types in the input fields
  document.getElementById('input1').addEventListener('input', enableSubmitButton);
  document.getElementById('input2').addEventListener('input', enableSubmitButton);
  
</script>
{% endblock %}