{% extends 'base.html' %} {% block content %}

<!-- <style>
  .dG {
      font-size: large;
      color: #fff;
      border: 2px double transparent;
      /* background-image: linear-gradient(#046491,#046491); */
      background-image: linear-gradient(#14A44D,#14A4),radial-gradient(circle at left top,#016eda,#d900c0);
      /* background-color: aliceblue; */
      background-origin: border-box;
      background-clip: padding-box,border-box;
      box-shadow: 20px 10px linear-gradient(90deg,red,#ffc800 22%,#ff117c 50%,#4e1dff 79%,#0f0);
      padding: 10px;
      border-radius: 10px;
  }
</style> -->


<div class="page-breadcrumb">
  <div class="row">
    <div class="col-12 d-flex no-block align-items-center">
      <h4 class="page-title">
        {% for message in messages %}
        <div class="container-fluid p-0">
          <div class="alert {{ message.tags }} alert-success" role="alert">
            <button
              type="button"
              class="close"
              data-dismiss="alert"
              aria-label="Close"
            >
              <span aria-hidden="True">&times;</span>
            </button>
            {{ message }}
          </div>
        </div>
        {% endfor %}
      </h4>
      <div class="ml-auto text-right">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <!-- <li class="breadcrumb-item"><a class="btn btn-success" href="{% url 'dashboard:add-brand' %}">Add Brand</a></li> -->
            <li class="breadcrumb-item">
              <a class="btn btn-success dG" href="{% url 'dashboard:tables' %}"
                >Back To Products</a
              >
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 mx-auto shadow-sm">
      <div class="card shadow-lg dG">
        <div class="card-body wizard-content">
          <h2 align="center">Product Quantity Update</h2>
          <form
            action="{% url 'dashboard:confirm-Sale' product_id %}"
            method="POST"
            novalidate
            style="margin-top: 50px"
            enctype="multipart/form-data"
          >
            <p>Product: {{ product.product_name }}</p>
            <p>Stock_Quantity: {{ product.product_quantity}}</p>
            <p>Excepted Saleing Price: {{ product.expecting_Saleing_price}}</p>
            <br><br>
            {% csrf_token %} 
            <label>Add New Quantity :</label>
            <input
            class="w-100"
              type="number"
              id="input1"
              name="quantity"
              onkeyup="mul()"
              style="padding-left: 50px"
            /> 
            <label>Buying Price :</label>
            <input
            class="w-100"
              type="number"
              id="input2"
              name="buy"
              onkeyup="mul()"
              style="padding-left: 50px"
            />
            <br><br>
            <input
              class="btn btn-outline-dark btn-block dG"
              type="submit"
              value="Sale"
            />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function mul() {
    var input1 = document.getElementById("input1").value;
    var input2 = document.getElementById("input2").value;
    var total = input1 * input2;
    document.getElementById("total").innerHTML = "Total : " + total;
  }
</script>
{% endblock %}
