{% load static %}

{% block html %}
<!DOCTYPE html>
<html dir="ltr" lang="en">
{% block head %}
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Tell the browser to be responsive to screen width -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<!-- Favicon icon -->
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/logo.png' %}">
<title>Accessories | AinoviQ</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/animation.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/asColorPicker.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/fullcalendar.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/calendar.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/dataTables.bootstrap4.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/responsive.bootstrap4.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/fontawesome-all.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/jquery.gritter.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/jquery.minicolors.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/jquery.steps.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/magnific-popup.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/materialdesignicons.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/multicheck.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/perfect-scrollbar.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/quill.core.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/quill.snow.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/select2.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/steps.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/themify-icons.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/toastr.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/weather-icons.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/weather-icons.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/float-chart.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/style.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/custom.css' %}" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'css/nayon.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

{% block extra_style %}{% endblock extra_style %}
</head>
{% endblock head %}

{% block body %}

<body onload="start();">
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css' %} -->
        <!-- ============================================================== -->
        <div class="preloader">
            <div class="lds-ripple">
                <div class="lds-pos"></div>
                <div class="lds-pos"></div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Main wrapper - style you can find in pages.scss -->
        <!-- ============================================================== -->
            <div id="main-wrapper">
            {% include 'dashboard/includes/header.html' %}
            {% include 'dashboard/includes/sidebar.html' %}
            <div class="page-wrapper">
            {% block content %}{% endblock content %}
            {% include 'dashboard/includes/footer.html' %}
            </div>
    </div>

    {% block script %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.2/dist/chart.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/perfect-scrollbar.jquery.min.js' %}"></script>
    <script src="{% static 'js/sparkline.js' %}"></script>
    <script src="{% static 'js/waves.js' %}"></script>
    <script src="{% static 'js/sidebarmenu.js' %}"></script>
    <script src="{% static 'js/custom.min.js' %}"></script>
    <script src="{% static 'js/excanvas.js' %}"></script>
    <script src="{% static 'js/jquery.flot.js' %}"></script>
    <script src="{% static 'js/jquery.flot.pie.js' %}"></script>
    <script src="{% static 'js/jquery.flot.time.js' %}"></script>
    <script src="{% static 'js/jquery.flot.time.js' %}"></script>
    <script src="{% static 'js/jquery.flot.stack.js' %}"></script>
    <script src="{% static 'js/jquery.flot.crosshair.js' %}"></script>
    <script src="{% static 'js/jquery.flot.tooltip.min.js' %}"></script>
    <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static 'js/chart-page-init.js' %}"></script>
    <script src="{% static 'js/app-style-switcher.js' %}"></script>
    <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'js/datatable-checkbox-init.js' %}"></script>
    <script src="{% static 'js/datatables.min.js' %}"></script>
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'js/responsive.bootstrap4.min.js' %}"></script>
    <script src="{% static 'js/jquery.charts-sparkline.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/jquery-asColor.min.js' %}"></script>
    <script src="{% static 'js/jquery-asGradient.js' %}"></script>
    <script src="{% static 'js/jquery-asColorPicker.min.js' %}"></script>
    <script src="{% static 'js/jquery.minicolors.min.js' %}"></script>
    <script src="{% static 'js/jquery.multicheck.js' %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'js/toastr.min.js' %}"></script>
    <script src="{% static 'js/select2.full.min.js' %}"></script>
    <script src="{% static 'js/select2.min.js' %}"></script>
    <script src="{% static 'js/jquery.inputmask.bundle.min.js' %}"></script>
    <script src="{% static 'js/quill.min.js' %}"></script>
    <script src="{% static 'js/mask.init.js' %}"></script>
    <script src="{% static 'js/meg.init.js' %}"></script>
    <script src="{% static 'js/cal-init.js' %}"></script>
    <script src="{% static 'constant/strings.js' %}"></script>
    <script src="{% static 'constant/validator.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
    <script src="https://unpkg.com/htmx.org@1.8.2" integrity="sha384-+8ISc/waZcRdXCLxVgbsLzay31nCdyZXQxnsUy++HJzJliTzxKWr0m1cIEMyUzQu" crossorigin="anonymous"></script>
    <script src="{% static 'dialog.js' %}"></script>

    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#zero_config').DataTable();
        });
    </script>

    {% block extra_script %}{% endblock extra_script %}


    {% endblock script %}
    <script>
        window.onload = function() {
        start();
    };
    </script>
</body>
    {% endblock body %}


    {% endblock html %}