{% extends "base.html" %} {% load i18n %} {% load static %} 
{% block extra_css%}
<style xmlns="http://www.w3.org/1999/html"></style>
{% endblock %} {% block page_title %} Form {% endblock %} 
{% load crispy_forms_tags %} {% block content %}


<div class="page-breadcrumb">
  <div class="row">
    <div class="col-12 d-flex no-block align-items-center">
      <h4 class="page-title">
        {% for message in messages %}
        <div class="container-fluid p-0">
          <div class="alert {{ message.tags }} alert-success" role="alert">
            <button
              type="button"
              class="close"
              data-dismiss="alert"
              aria-label="Close"
            >
              <span aria-hidden="True">&times;</span>
            </button>
            {{ message }}
          </div>
        </div>
        {% endfor %}
      </h4>
      <div class="mx-auto text-center">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item" style="margin-right: 200px;">
              <a class="btn btn-success dG" href="{% url 'dashboard:tables' %}"
              >Back To Products</a
              >
            </li>
            <li class="breadcrumb-item">
              <a
                class="btn btn-success dG"
                href="{% url 'dashboard:add-model' %}"
                >Add New Model</a
              >
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mx-auto">
  <div class="row mx-auto">
    <div class="col-md-6 mx-auto shadow-sm">
      <div class="card shadow-lg dG">
        <div class="card-body wizard-content">
          <!-- <div class="d-flex justify-content-between m-b-20">
            <a class="btn btn-success dG" href="{% url 'dashboard:tables' %}"
                  >Back To Products</a
                >
                <a
                class="btn btn-success dG"
                href="{% url 'dashboard:add-model' %}"
                >Add New Model</a
                >
              </div> -->
              <h2 align="center" class="card-title block">Add New Product</h2>
          <h6 class="card-subtitle"></h6>
          <form
            method="POST"
            id="example-form"
            action="#"
            class="m-t-20"
            novalidate="novalidate"
          >
            {% csrf_token %}
            <!-- {{form | crispy }} -->
            <br />
            <div class="form__linput">
              <label
                class="form__label"
                style="background-color: white"
                for="lname"
                >Product Name<span class="text-danger">*</span></label
              >
            </div>
            <div class="form__input">{{ form.product_name }}</div>
            <br />
            <div class="form__linput">
              <label
                class="form__label"
                style="background-color: white"
                for="lname"
                >Model Name<span class="text-danger">*</span></label
              >
            </div>
            <div class="form__input">{{form.model}}</div>
            <br />
            <div class="form__linput">
              <label
                class="form__label"
                style="background-color: white"
                for="lname"
                >Product Quantity<span class="text-danger">*</span></label
              >
            </div>
            <div class="form__input">{{form.product_quantity}}</div>
            <br />
            <div class="form__linput">
              <label
                class="form__label"
                style="background-color: white"
                for="lname"
                >Buying Price<span class="text-danger">*</span></label
              >
            </div>
            <div class="form__input">{{form.buying_price}}</div>
            <br />
            <div class="form__linput">
              <label
                class="form__label"
                style="background-color: white"
                for="lname"
                >Expecting Saleing Price<span class="text-danger">*</span></label
              >
            </div>
            <div class="form__input">{{form.expecting_Saleing_price}}</div>
            <br /><br />
           
             
                    <input
                  class="btn btn-success btn-block dG"
                  type="submit"
                  value="Add"
                  />
                  
            
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %} {% block extra_js %}
<script>

  $(".select2").select2();

  /*colorpicker*/
  $(".demo").each(function () {
  
    $(this).minicolors({
      control: $(this).attr("data-control") || "hue",
      position: $(this).attr("data-position") || "bottom left",

      change: function (value, opacity) {
        if (!value) return;
        if (opacity) value += ", " + opacity;
        if (typeof console === "object") {
          console.log(value);
        }
      },
      theme: "bootstrap",
    });
  });
  /*datwpicker*/
  jQuery(".mydatepicker").datepicker();
  jQuery("#datepicker-autoclose").datepicker({
    autoclose: true,
    todayHighlight: true,
  });

  var quill = new Quill("#editor", {
    theme: "snow",
  });
</script>

{% endblock %}
